
<div class="w-full">

  <div class="relative">
    <!-- Carusel de imagenes -->
    <radio-carousel [mediaElement]="this.mediaElementCarousel" [intervalTime]="5000"></radio-carousel>

    <!-- Seccion Mensajes -->
    <div class="absolute w-[24%] h-[28%] top-[48%] right-[5%] transform -translate-y-1/2">
      <radio-message-board></radio-message-board>
    </div>

    <!-- Informacion sobre Radio UTPL -->
    <radio-section-about-us></radio-section-about-us>
  </div>


  <!-- Seccion Nuestra programacion -->
  <div class="w-full bg-blue-utpl bg-[url('/radio_media/line_opacity.svg'),url('/radio_media/line_yellow.svg')] bg-no-repeat bg-[top,bottom]">
      <div class="w-[90%] mx-auto py-10">

        <!-- Seccion Programacion -->
        <div class="">
          <div class="flex items-end ml-16 mb-10 text-white text-2xl">
            <h2>
              <p><strong>{{'Nuestra' | uppercase}}</strong></p>
              {{'Programación' | uppercase}}
            </h2>

            <svg width="150px" height="50px" viewBox="0 0 150 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <!-- Flecha apuntando a la derecha -->
              <path d="M10 25H140M140 25L130 15M140 25L130 35" stroke="#FCBD31" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>

          <!-- Progrmaacion de genially -->
          <radio-section-schedule></radio-section-schedule>
        </div>

        <!-- Seccion proyectos -->
        <div class="my-10">
          <div class="flex items-end justify-end mr-16 mb-10 text-white text-2xl">
            <!-- Flecha apuntando a la izquierda -->
            <svg width="150px" height="50px" viewBox="0 0 150 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M140 25H10M10 25L20 15M10 25L20 35" stroke="#FCBD31" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

            <h2>
              <p><strong>{{'Proyectos' | uppercase}}</strong></p>
            </h2>
          </div>

          <!-- Los 3 Proyectos mas recientes -->
          <div class="w-full grid gap-10 text-xs md:text-base" *ngIf="this.projects.length > 0" [ngClass]="{'lg:grid-cols-2 ':this.projects.length > 2}">
            <!-- Primera Columna: Proyecto 1 -->
            <div class="w-full h-[250px] md:h-[400px] flex flex-col">
              <div class="h-[54%]">
                <img class="w-full h-full rounded-md object-cover" [src]="this.projects[0].photo_url" alt="">
              </div>

              <div class="h-full p-2 flex flex-col justify-between">
                <p class="font-semibold text-yellow-utpl"> {{this.date[0]}} </p>
                <p class="font-bold text-white">{{this.projects[0].title | truncate:65}}</p>
                <p class="text-white">{{this.projects[0].summary | truncate:120}}</p>

                <div>
                  <a
                    class="w-[40%] px-5 py-1 mb-3 text-center text-xs font-semibold rounded-3xl bg-white border-2 border-white hover:bg-blue-utpl hover:text-yellow-utpl shadow-lg"
                    routerLink='../proyectos/contenido/{{this.projects[0].id}}'
                  >Leer más..</a>
                </div>
              </div>
            </div>

            <!-- Segunda Columna: Proyecto 1 y 2 -->
            <div class="w-full flex flex-col space-y-5 justify-between">
              <!-- Segundo Proyecto -->
              <div class="h-[150px] lg:h-[180px] flex">
                <div class="w-[50%]">
                  <img class="w-full h-full rounded-md object-cover" [src]="this.projects[1].photo_url" alt="">
                </div>

                <div class="w-[50%] pl-2 py-2 flex flex-col justify-between">
                  <p class="font-semibold text-yellow-utpl"> {{this.date[1]}} </p>
                  <p class="font-bold text-white">{{this.projects[1].title | truncate:65}}</p>
                  <p class="text-white">{{this.projects[1].summary | truncate:80}}</p>

                  <div>
                    <a
                      class="w-[40%] px-5 py-1 text-center text-xs font-semibold rounded-3xl bg-white border-2 border-white hover:bg-blue-utpl hover:text-yellow-utpl shadow-lg"
                      routerLink='../proyectos/contenido/{{this.projects[1].id}}'
                    >Leer más..</a>
                  </div>
                </div>
              </div>

              <!-- Tercer Proyecto -->
              <div class="h-[150px] lg:h-[180px] flex">
                <div class="w-[50%]">
                  <img class="w-full h-full rounded-md object-cover" [src]="this.projects[2].photo_url" alt="">
                </div>

                <div class="w-[50%] pl-2 py-2 flex flex-col justify-between">
                  <p class="font-semibold text-yellow-utpl"> {{this.date[2]}} </p>
                  <p class="font-bold text-white">{{this.projects[2].title | truncate:65}}</p>
                  <p class="text-white">{{this.projects[2].summary | truncate:65}}</p>

                  <div>
                    <a
                      class="w-[40%] px-5 py-1 text-center text-xs font-semibold rounded-3xl bg-white border-2 border-white hover:bg-blue-utpl hover:text-yellow-utpl shadow-lg"
                      routerLink='../proyectos/contenido/{{this.projects[2].id}}'
                    >Leer más..</a>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
  </div>

  <!-- Seccion Podcast -->
  <div class="w-full">
    <div class="flex items-end ml-24 mb-10 text-blue-utpl text-2xl">
      <h2>
        <p><strong>{{'Podcasts' | uppercase}}</strong></p>
      </h2>

      <svg width="150px" height="50px" viewBox="0 0 150 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <!-- Flecha apuntando a la derecha -->
        <path d="M10 25H140M140 25L130 15M140 25L130 35" stroke="#FCBD31" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>

    <div class="grid grid-cols-3">
      <div *ngFor="let podcast of podcasts" class="mx-5">
        <shared-card-podcast [podcast]="podcast"></shared-card-podcast>
      </div>
    </div>

    <!-- <raido-carousel-spotify></raido-carousel-spotify> -->

  </div>



</div>






