
<main class="w-full">


  <!-- Informacion sobre Radio UTPL  -->
  <article class="w-full grid grid-cols-2 my-10 items-center">
    <!-- Video -->
    <div class="col-span-1  flex justify-end">
      <div class="relative w-[400px] h-[400px] mr-20 bg-blue-500 shadow-xl" style="border-radius: 150px 70px 150px 70px;">
        <video class="object-cover" >
          <source src="path/to/your/video.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        <div class="absolute flex-col inset-0 flex items-center justify-center text-center">
          <!-- Botón circular con icono de reproducir -->
          <button class="w-24 h-24 bg-white rounded-full flex justify-center items-center shadow-lg transition-all duration-300 ease-in-out transform group-hover:scale-110">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-gray-900" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M14.752 11.168l-5.197-3.026A1 1 0 008 9.026v5.948a1 1 0 001.555.832l5.197-3.026a1 1 0 000-1.664z" />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <!-- Informacion -->
    <div class="col-span-1 w-4/5 p-4 text-wrap text-blue-utpl" >
      <h1 class="right-0 text-2xl">
        <p><strong>{{'Acerca de' | uppercase}}</strong> </p>
        <p>{{'Radio UTPL' | uppercase}}</p>
      </h1>

      <p class="text-sm text-justify my-5">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.</p>

      <div class="px-10 w-full py-2">
        <a routerLink="../about-us" class="px-5 py-2 bg-yellow-400 font-semibold text-xs text-blue-800  rounded-3xl border-blue-utpl border-2 shadow-md hover:bg-blue-utpl hover:text-white">
        {{ 'Conoce más' | uppercase}}</a>
      </div>
    </div>
  </article>

  <!-- Nuestra programacion -->
  <div class="w-full bg-blue-utpl py-8">
    <!-- Seccion Programacion -->
    <div class="p-8">
      <div class="flex items-end ml-16 mb-10 text-white text-2xl">
        <h2>
          <p><strong>{{'Nuestra' | uppercase}}</strong></p>
          {{'Programación' | uppercase}}
        </h2>

        <svg width="150px" height="50px" viewBox="0 0 150 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <!-- Flecha apuntando a la derecha -->
          <path d="M10 25H140M140 25L130 15M140 25L130 35" stroke="#e9eb4f" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>

      <div class="w-full max-w-8xl mx-auto">
        <div class="relative pb-[35%] h-0">
          <iframe
            title="Planificación Agenda Akihabara"
            frameborder="0"
            class="absolute top-0 left-0 w-full h-full rounded-2xl"
            src="https://view.genially.com/66d8c5633737336c88112622"
            type="text/html"
            allowscriptaccess="always"
            allowfullscreen="true"
            scrolling="yes"
            allownetworking="all">
          </iframe>
        </div>
      </div>
  </div>

  <div class="p-8">
    <div class="flex items-end justify-end mr-16 mb-10 text-white text-2xl">
      <!-- Flecha apuntando a la izquierda -->
      <svg width="150px" height="50px" viewBox="0 0 150 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M140 25H10M10 25L20 15M10 25L20 35" stroke="#e9eb4f" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>

      <h2>
        <p><strong>{{'Proyectos' | uppercase}}</strong></p>
      </h2>
    </div>

    <div class="w-full h-[430px] grid grid-cols-2 justify-center">
      <div class="col-span-1 bg-orange-300">
        <div class=" bg-slate-400">
          <p>Proyecto 1</p>
        </div>
      </div>

      <div class="col-span-1 grid-rows-2 bg-orange-300">

          <div class="row-span-1 bg-red-400">
            <p>Proyecto 2</p>
          </div>

          <div class="row-span-1 bg-red-400">
            <p>Proyecto 3</p>
          </div>

      </div>
    </div>
  </div>

  </div>

  <!-- Seccion Podcast -->
  <div class="w-full">
    <div class="flex items-end ml-24 mb-10 text-blue-utpl text-2xl">
      <h2>
        <p><strong>{{'Podcasts' | uppercase}}</strong></p>
      </h2>

      <svg width="150px" height="50px" viewBox="0 0 150 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <!-- Flecha apuntando a la derecha -->
        <path d="M10 25H140M140 25L130 15M140 25L130 35" stroke="#e9eb4f" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>

    <div class="grid grid-cols-2">
      <div *ngFor="let podcast of podcasts">
        <shared-card-podcast [podcast]="podcast"></shared-card-podcast>
      </div>
    </div>

  </div>


</main>






