
<main class="w-full">
  <!-- Informacion sobre Radio UTPL -->
  <radio-section-about-us></radio-section-about-us>

  <!-- Nuestra programacion -->
  <div class="w-full bg-blue-utpl py-8">
    <!-- Seccion Programacion -->
    <div class="p-8">
      <div class="flex items-end ml-16 mb-10 text-white text-2xl">
        <h2>
          <p><strong>{{'Nuestra' | uppercase}}</strong></p>
          {{'Programación' | uppercase}}
        </h2>

        <svg width="150px" height="50px" viewBox="0 0 150 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <!-- Flecha apuntando a la derecha -->
          <path d="M10 25H140M140 25L130 15M140 25L130 35" stroke="#e9eb4f" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>

      <div class="w-full max-w-8xl mx-auto">
        <div class="relative pb-[35%] h-0">
          <iframe
            title="Planificación Agenda Akihabara"
            frameborder="0"
            class="absolute top-0 left-0 w-full h-full rounded-2xl"
            src="https://view.genially.com/66d8c5633737336c88112622"
            type="text/html"
            allowscriptaccess="always"
            allowfullscreen="true"
            scrolling="yes"
            allownetworking="all">
          </iframe>
        </div>
      </div>
  </div>

  <div class="p-8">
    <div class="flex items-end justify-end mr-16 mb-10 text-white text-2xl">
      <!-- Flecha apuntando a la izquierda -->
      <svg width="150px" height="50px" viewBox="0 0 150 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M140 25H10M10 25L20 15M10 25L20 35" stroke="#e9eb4f" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>

      <h2>
        <p><strong>{{'Proyectos' | uppercase}}</strong></p>
      </h2>
    </div>

    <div class="w-full h-[430px] grid grid-cols-2 justify-center">
      <div class="col-span-1 bg-orange-300">
        <div class=" bg-slate-400">
          <p>Proyecto 1</p>
        </div>
      </div>

      <div class="col-span-1 grid-rows-2 bg-orange-300">

          <div class="row-span-1 bg-red-400">
            <p>Proyecto 2</p>
          </div>

          <div class="row-span-1 bg-red-400">
            <p>Proyecto 3</p>
          </div>

      </div>
    </div>
  </div>

  </div>

  <!-- Seccion Podcast -->
  <div class="w-full">
    <div class="flex items-end ml-24 mb-10 text-blue-utpl text-2xl">
      <h2>
        <p><strong>{{'Podcasts' | uppercase}}</strong></p>
      </h2>

      <svg width="150px" height="50px" viewBox="0 0 150 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <!-- Flecha apuntando a la derecha -->
        <path d="M10 25H140M140 25L130 15M140 25L130 35" stroke="#e9eb4f" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>

    <div class="grid grid-cols-2">
      <div *ngFor="let podcast of podcasts">
        <shared-card-podcast [podcast]="podcast"></shared-card-podcast>
      </div>
    </div>

  </div>


</main>






