.borderGradientBotoom {
  border-width: 10px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #06446F, #FCBD31) 1;
}

.borderGradientTop {
  border-width: 10px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #FCBD31, #06446F) 1;
}

