
<div class="w-full p-4 bg-blue-utpl">

  <div class="text-center text-white text-2xl p-6">
    <h1>
      <p><strong>{{'Nuestra' | uppercase}}</strong></p>
      <p>{{'Programación' | uppercase}} </p>
    </h1>
  </div>

  <div class="w-[90%] mx-auto">
    <radio-section-schedule></radio-section-schedule>
  </div>

</div>


<div class="w-full p-6">
  <div class="text-center text-blue-utpl text-2xl">
    <h2><strong>PODCASTS</strong></h2>
  </div>

  <section class="grid grid-cols-6 p-1">

    <div *ngFor="let podcast of podcasts" class="col-span-3">
      <shared-card-podcast [podcast]="podcast"></shared-card-podcast>
    </div>
  </section>
</div>

