
<!-- Seccion de cronograma -->
<div class="w-full bg-blue-utpl">
  <div class="w-[90%] mx-auto pt-10 pb-32">
    <div class="text-center text-white text-2xl mb-10">
      <h1>
        <p><strong>{{'Nuestra' | uppercase}}</strong></p>
        <p>{{'Programación' | uppercase}} </p>
      </h1>
    </div>

    <div class="">
      <radio-section-schedule></radio-section-schedule>
    </div>

  </div>
</div>

<!-- Seccion de listado de podcast -->
<div class="w-full" *ngIf="this.podcasts.length > 0">
  <div class="w-[90%] mx-auto my-10">
    <div class="text-center text-blue-utpl">
      <h2 class="text-2xl"><strong>PODCASTS</strong></h2>

      <div class="w-[95%] mx-auto my-10 select-none">
        <input type="text" placeholder="Buscar..."
          class="w-1/2 px-5 py-2 bg-[#E0E0E0] placeholder-black rounded-full border-2 border-black focus:outline-none focus:ring-1 focus:ring-blue-utpl focus:border-blue-utpl"
        />
      </div>
    </div>

    <div class="">
      <div class="grid grid-cols-3">

        <!-- <div class="col-span-1">
          <iframe
            style="border-radius:12px"
            src="https://open.spotify.com/embed/album/2cWBwpqMsDJC1ZUwz813lo?utm_source=generator"
            width="100%" height="200"
            frameBorder="0"
            allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            loading="lazy">
          </iframe>
        </div>


        <div class="col-span-1">
          <iframe
            style="border-radius:12px"
            [src]="this.safeUrl"
            width="100%" height="200"
            frameBorder="0"
            allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            loading="lazy">
          </iframe>
        </div>

        <div class="col-span-1">
          <div [innerHTML]="this.podcastFrame"></div>
        </div> -->

        <div
          *ngFor="let podcast of podcasts; let i = index"
          class="col-span-1 w-[90%] mx-auto"
        >
          <shared-card-podcast [podcast]="podcast"></shared-card-podcast>
        </div>
      </div>


      <!-- paginacion -->
      <radio-pagination></radio-pagination>
    </div>
  </div>
</div>

