
<div class="w-full">
  <div class="w-[80%] mx-auto my-5">

    <div class="w-[95%] mx-auto my-10 select-none">
      <input type="text" placeholder="Buscar..."
        class="w-1/2 px-5 py-2 bg-[#E0E0E0] placeholder-black rounded-full border-2 border-black focus:outline-none focus:ring-1 focus:ring-blue-utpl focus:border-blue-utpl"
      />
    </div>

    <div class="">

      <div class="w-full mb-10 grid grid-cols-3 justify-between" *ngIf="this.projects.length > 0">

        <div class="col-span-1 w-[90%] mx-auto my-4" *ngFor="let project of projects">
          <shared-card-project [project]="project"></shared-card-project>
        </div>

      </div>

      <!-- paginacion -->
      <radio-pagination path='project' [numberDocsShow]="6" (projectEmitter)="this.getDocs($event)"></radio-pagination>
    </div>

  </div>
</div>


