<footer class="bg-gray-800 text-white p-6">
  <div class="grid grid-cols-3 text-xs mb-8">
    <!-- Logo y secciones -->

      <div class="col-span-1 lg:ml-32 mb-1" >
        <img src="radio_media/logo-radioutpl-color.png" alt="Logo Radio UTPL"
          class="h-20 w-25"
        >
      </div>

        <!-- Sección de enlaces -->
        <div class="col-span-1 text-center md:text-left">
          <h3 class="text-lg font-semibold mb-2">Enlaces</h3>
          <ul class="space-y-2">
            <li><a href="#" class="hover:underline">Inicio</a></li>
            <li><a href="#" class="hover:underline">Servicios</a></li>
            <li><a href="#" class="hover:underline">Proyectos</a></li>
            <li><a href="#" class="hover:underline">Contacto</a></li>
          </ul>
        </div>

        <!-- Sección de contacto -->
        <div class="col-span-1 text-center md:text-left">
          <h3 class="text-lg font-semibold mb-2">Contacto</h3>
          <ul class="space-y-2">
            <li><a href="mailto:info@example.com" class="hover:underline">infoEexample.com</a></li>
            <li><a href="tel:+1234567890" class="hover:underline">+1 (234) 567-890</a></li>
            <li><address class="not-italic">123 Calle Principal, Ciudad, País</address></li>
          </ul>
        </div>

  </div>
  <!-- Copyright -->
  <div class="text-center text-gray-400 text-sm">
    &copy; 2024 Tu Empresa. Todos los derechos reservados.
  </div>
</footer>
