<footer class="flex flex-col items-center bg-blue-utpl text-white p-3">
  <div class="w-[80%]">

    <div class="w-full flex justify-between text-xs p-3">

        <!-- Logo -->
        <div class="flex items-center justify-center" >
          <img
            src="radio_media/logo-radioutpl-color.png" alt="Logo Radio UTPL"
            class="h-20 w-25"
          >
        </div>

        <!-- Vinculos de interes -->
        <div class="text-center md:text-left">
          <div>
            <h3 class="text-lg text-yellow-utpl font-semibold mb-4">Vínculos de Interés</h3>
            <ul class="space-y-6">
              <li><a href="#" class="hover:underline">Inicio</a></li>
              <li><a href="#" class="hover:underline">Programación</a></li>
              <li><a href="#" class="hover:underline">Proyectos</a></li>
              <li><a href="#" class="hover:underline">Podcasts</a></li>
            </ul>
          </div>

        </div>

        <div>
          <span class="block w-[4px] h-[80%] bg-yellow-utpl rounded-full"></span>
        </div>


        <!-- Ubicacnos -->
        <div class="text-center md:text-left">
          <h3 class="text-lg text-yellow-utpl font-semibold mb-4">Ubícanos</h3>
          <ul class="space-y-4">
            <li>Campus - San Cayetano Alto.</li>
            <li>Loja - Ecuador</li>
            <li><address class="not-italic">PARIS SYN PRAGA edif. Nro. 2 Segunda planta.</address></li>
            <li><p> Teléfono:  3701444 - Ext.2498</p></li>
            <li>
              <a href="radio@utpl.edu.ec" class="hover:underline">
                <p> Correo electronico:  {{'radio@utpl.edu.ec'}}</p>
              </a>
            </li>
          </ul>
        </div>

        <div>
          <span class="block w-[4px] h-[80%] bg-yellow-utpl rounded-full"></span>
        </div>

        <!-- Informacion -->
        <div class="text-center md:text-left">
          <h3 class="text-lg text-yellow-utpl font-semibold mb-4">Información</h3>
          <ul class="space-y-6">
            <li><a href="UTPL" class="hover:underline">UTPL</a></li>
            <li><a href="MEDIALAB" class="hover:underline">MEDIALAB</a></li>
            <li><a href="Carrera Comunicación" class="hover:underline">Carrera Comunicación</a></li>
          </ul>
        </div>

    </div>

    <span class="block w-full h-[1px] my-3 mx-auto bg-yellow-utpl"></span>

    <!-- Copyright -->
    <div class="text-center text-white text-sm py-3">
      <p>&copy; BY LIID UTPL</p>
      <p>Políticas de privacidad - Términos y condiciones</p>
    </div>
  </div>
</footer>
