<!-- Tarjeta de presentacion del proyecto -->
<div class="w-full h-full rounded-xl p-4 boxShadow text-wrap animate-fadeIn" [ngStyle]="{display: hasLoaded? '' : 'none'}">
  <!-- Titulo del mensaje -->
  <div class="text-xl text-center text-blue-utpl">
    <p> <strong>{{this.project.title}}</strong></p>
  </div>

  <!-- Imagen de protada -->
  <div class="w-full my-3">
    <img class="w-full h-full object-cover rounded-md" (load)="onLoad()" [src]="this.project.photo_url" alt="">
  </div>

  <!-- Contenido -->
  <div class="mb-10 text-sm">
    <p class="font-semibold text-yellow-utpl mb-3"> Sunday, 1 </p>

    <p class="text-blue-utpl">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
  </div>

  <!-- Enlace para redireccionar -->
  <div class="w-full" >
    <a
      [routerLink]="['./contenido/',project.id]"
      class="w-[40%] px-5 py-1 mb-3 text-center text-xs font-semibold rounded-3xl border-2 border-blue-utpl hover:bg-blue-utpl hover:text-white shadow-lg">
        Leer más..
    </a>
  </div>


</div>

<!-- Spinner empleado para la carga del elemento -->
<div class=" w-full h-[200px] flex items-center justify-center" *ngIf="!hasLoaded">
  <img src="radio_media/loader.svg" alt="">
</div>
