<section class="bodylogin">
    <section class="loginBox">
        <input [(ngModel)]="user.email" type="text" placeholder="Correo">
        <br><br>
        <input [(ngModel)]="user.password" type="password" placeholder="Contraseña">
        <br><br>
        <button (click)="login()">Iniciar Sesión</button>
        <br><br>
        <button (click)="loginGoogle()">Iniciar Sesión con Google</button>
        <br><br>
        <a href="" [routerLink]="['/radio-utpl/auth/register']">¿No tienes una cuenta? Regístrate</a>
    </section>
</section>



