<!-- Informacion sobre Radio UTPL  -->
<article class="w-[80%] mx-auto flex my-20 justify-between items-center">
  <!-- Video -->
  <div class="relative flex justify-center items-center w-[45%] h-[400px]">
    <video
        #videoPlayer
        class="object-cover w-full h-full "
        style="border-radius: 150px 70px 150px 70px;"
        preload="auto"
        src="https://firebasestorage.googleapis.com/v0/b/radioutpl.appspot.com/o/media%2FConoce%20Radio%20UTPL%20-%20Spot.mp4?alt=media&token=a06ca644-5f12-4fa4-b6f3-3ca2d3cade09"
        (click)="this.playVideo(videoPlayer)"
    ></video>

    <button
      class="absolute w-20 h-20 rounded-full flex justify-center items-center"
      (click)="this.playVideo(videoPlayer)"
    >
      <svg width="100%" height="100%" viewBox="0 0 81 81" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path *ngIf="!this.isPlay && showButtonPlay" d="M40.5 7.59375C22.3557 7.59375 7.59375 22.3557 7.59375 40.5C7.59375 58.6443 22.3557 73.4062 40.5 73.4062C58.6443 73.4062 73.4062 58.6443 73.4062 40.5C73.4062 22.3557 58.6443 7.59375 40.5 7.59375ZM52.3288 41.9713L34.2225 52.9095C33.963 53.0649 33.6667 53.1486 33.3642 53.1518C33.0617 53.155 32.7638 53.0777 32.501 52.9278C32.2382 52.7779 32.02 52.5608 31.8688 52.2987C31.7176 52.0367 31.6389 51.7391 31.6406 51.4366V29.5634C31.6389 29.2609 31.7176 28.9633 31.8688 28.7013C32.02 28.4392 32.2382 28.2221 32.501 28.0722C32.7638 27.9223 33.0617 27.845 33.3642 27.8482C33.6667 27.8514 33.963 27.9351 34.2225 28.0905L52.3288 39.0287C52.5812 39.1825 52.7898 39.3986 52.9346 39.6562C53.0793 39.9139 53.1553 40.2045 53.1553 40.5C53.1553 40.7955 53.0793 41.0861 52.9346 41.3438C52.7898 41.6014 52.5812 41.8175 52.3288 41.9713Z" fill="white"/>
      </svg>
    </button>
  </div>

  <!-- Informacion -->
  <div class="w-[45%]  text-wrap text-blue-utpl" >
    <h1 class="right-0 text-2xl">
      <p><strong>{{'Acerca de' | uppercase}}</strong> </p>
      <p>{{'Radio UTPL' | uppercase}}</p>
    </h1>

    <p class="text-sm text-justify my-5">Radio UTPL es un canal de comunicación universitario que tiene como misión principal la creación y difusión de contenidos sonoros de calidad, con un enfoque informativo, pedagógico y experimental. Este espacio se ha consolidado como una plataforma innovadora donde convergen estudiantes, administrativos, docentes e investigadores para proponer, desarrollar y explorar diversas formas de comunicación a través de la radio digital.</p>
      <p class="text-sm text-justify my-5">Nuestra visión es ser un medio creativo que fomente el aprendizaje práctico y el pensamiento crítico, utilizando las últimas herramientas y tecnologías disponibles. Radio UTPL se destaca por brindar un espacio dinámico y colaborativo que impulsa el desarrollo de habilidades comunicativas, la experimentación con formatos sonoros, y la reflexión sobre los medios de comunicación contemporáneos.
    </p>

    <div class="px-5 py-2">
      <a routerLink="../quienes-somos" class="px-5 py-2 bg-yellow-utpl font-semibold text-xs text-blue-utpl  rounded-3xl border-blue-utpl border-2 shadow-md hover:bg-blue-utpl hover:text-white">
      {{ 'Conoce más' | uppercase}}</a>
    </div>
  </div>
</article>
