<!-- <div class="justify-center m-2 rounded shadow text-wrap text-center bg-slate-50">
  <div>
    <p>{{this.podcast.title}}</p>
  </div>

  <div>
    <img src="" alt="">
  </div>

  <div>
    <p>{{ this.podcast.content }}</p>
  </div>

  <div class="p-2">
    <a href="" class="p-2 rounded bg-yellow-500">Ver mas</a>
  </div>
</div> -->

<!-- 352 o 152 -->
<iframe
  style="border-radius:12px"
  src="https://open.spotify.com/embed/album/2cWBwpqMsDJC1ZUwz813lo?utm_source=generator"
  width="100%" height="200"
  frameBorder="0"
  allowfullscreen=""
  allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
  loading="lazy">
</iframe>
