<!-- <div class="bg-slate-200">
  <h2><b>Fecha de publicación:</b> {{project.date}}</h2>
  <h3><b>Título</b></h3>
    <div>
      <div class="boxInfo">
        <input class="box" [(ngModel)]="project.title" type="text" placeholder="Ingrese el título">
      </div>
    </div>
  <h3><b>Palabras clave</b></h3>
    <div>
      <div class="boxInfo">
        <input class="box" [(ngModel)]="project.keywords" type="text" placeholder="Ingrese las palabras clave">
      </div>
    </div>
  <h3><b>Imagen de portada</b></h3><p>La dimensión de la imagen debe ser de width="300px" height="200px"</p>
    <div>
      <div class="boxInfo">
        <input type="file" class="imagenSelec" (change)="selectImage($event)">
        <div class="image-preview">
          <img *ngIf="imageSrc; else noImage" [src]="imageSrc">
          <ng-template #noImage>
              <div class="placeholder">Sin imagen seleccionada</div>
          </ng-template>
        </div>
      </div>
    </div>
  <h3><b>Resumen</b></h3><p>Debe contener entre 15 y 20 palabras</p>
    <div>
      <div class="boxInfo">
        <input class="box" [(ngModel)]="project.summary" type="text" placeholder="Ingrese el resumen">
        <p *ngIf="summaryError" style="color: red;">El resumen debe tener entre 15 y 20 palabras.</p>
      </div>
    </div>
  <h3><b>Contenido</b></h3>
      <editor [(ngModel)]="project.content" apiKey="872f9ypxuxkrilox9gkrtlhqjsbr861dppp3ocwzkipdfkz0"
        [init]="{
                base_url: '/tinymce',
                suffix: '.min',
                plugins: 'lists link image table code help wordcount'
                }"
      ></editor>
  <button (click)="createMessage()">Crear Proyecto</button>
</div> -->

<div class="w-full">
  <div class="w-[90%] mx-auto">

    <!-- Form para crear o actualizar Projecto-->
    <form class="w-full grid" [formGroup]="projectForm">

      <!-- Seccion Fecha Actual -->
      <div class="flex justify-center mt-10 mb-4">
        <p><strong>Fecha de publicación:</strong> {{date}}</p>
      </div>

      <!-- Seccion del Titulo -->
      <div>
        <div class="pb-2 text-wrap">
          <p class="text-base"> <strong>Titulo de referencia </strong><span class="text-xs text-[#9D9D9D]">Este título no se visualiza en el podcast, solo es para mantener una organización el el administrador</span></p>
        </div>

        <input type="text" formControlName="title"
          class="w-full h-[33px] pl-3 border-2 border-[#C4C4C4] rounded-md"
        >
      </div>

      <!-- Seccion de palabras claves -->
      <div class="my-6">
        <div class="pb-2 text-wrap">
          <p class="text-base"> <strong>Palabras claves</strong> </p>
        </div>

        <input type="text" formControlName="keywords"
          class="w-full h-[33px] pl-3 border-2 border-[#C4C4C4] rounded-md"
        >
      </div>

      <!-- Seccion seleccionar imagen -->
      <div class="mb-6">
        <div class="pb-2 text-wrap">
          <p class="text-base"> <strong>Imagen de portada </strong><span class="text-xs text-[#9D9D9D]">La dimensión de la imagen debe ser de width="300px" height="200px"</span></p>
        </div>

        <div class="w-full h-[59px] flex items-center">
          <input #fileInput type="file" accept="image/*" class="hidden" (change)="onFileSelected($event)">
          <button
            class="w-[20%] h-full  bg-[#EAEAEA] hover:bg-slate-400 transition duration-300 border-2 border-[black]"
            (click)="fileInput.click()"
          >Seleccionar Imagen</button>
          <div class="w-[80%] h-full flex justify-center items-center text-center border-y-2 border-r-2 border[#C4C4C4]">
            <p> {{this.fileName}} </p>
          </div>
        </div>
      </div>

      <!-- Seccion Resumen -->
      <div class="mb-6">
        <div class="pb-2 text-wrap">
          <p class="text-base"> <strong>Resumen </strong><span class="text-xs text-[#9D9D9D]">Debe contener de entre 15 y 20 palabras</span></p>
        </div>

        <textarea name="frame" id="frame" formControlName="summary"
          class="w-full h-[90px] px-3 py-1 border-2 border-[#C4C4C4] rounded-md"
        ></textarea>
      </div>

      <!-- TODO: colocar seccion de contenido -->
      <div>
        <div class="pb-2 text-wrap">
          <p class="text-base"> <strong>Contenido </strong><span class="text-xs text-[#9D9D9D]">Contenido de la publicación</span></p>
          <editor formControlName="content" apiKey="872f9ypxuxkrilox9gkrtlhqjsbr861dppp3ocwzkipdfkz0"
          [init]="{
                  base_url: '/tinymce',
                  suffix: '.min',
                  plugins: 'lists link image table code help wordcount'
                  }"
        ></editor>
        </div>
      </div>

      <!-- Botones para crear o actualizar un Projecto -->
      <div class="w-full flex justify-center">
        <button
          (click) = "this.updateProyect()"
          *ngIf="this.currentRoute.includes('nuevo')"
          class="p-2 text-white bg-[#00ACC1] rounded-lg hover:bg-blue-utpl"
        >Crear Proyecto</button>
        <button
          (click) = "this.updateProyect()"
          *ngIf="this.currentRoute.includes('editar')"
          class="p-2 text-white bg-[#00ACC1] rounded-lg hover:bg-blue-utpl"
        >Actualizar Proyecto</button>
      </div>
    </form>

  </div>
</div>
