
<div class="bg-white">

  <div class="w-[90%] mx-auto py-8">

    <!-- Opciones de enlace -->
    <div class="w-[80%] h-[70px] mx-auto px-[10%] flex justify-between items-center font-bold text-xl text-white rounded-full bg-gradient-to-r from-[#F29F05] to-[#FAB300]">
        <a href="" routerLink="./lista-podcasts"
          (click)="updateButtonLabel('podcast')"
          class="hover:text-blue-utpl"
          [ngClass]="{'text-blue-utpl':valueLabel == 'podcast'}"
        >PODCASTS</a>

        <span class="block w-[1px] h-[80%] bg-[#104D73]"></span>

        <a href="" routerLink="./lista-proyectos"
          (click)="updateButtonLabel('proyecto')"
          class="hover:text-blue-utpl"
          [ngClass]="{'text-blue-utpl':valueLabel == 'proyecto'}"
        >PROYECTOS</a>

        <span class="block w-[1px] h-[80%] bg-[#104D73]"></span>

        <a href="" routerLink="./lista-mensajes"
          (click)="updateButtonLabel('mensaje')"
          class="hover:text-blue-utpl"
          [ngClass]="{'text-blue-utpl':valueLabel == 'mensaje'}"
        >MENSAJES</a>

        <span class="block w-[1px] h-[80%] bg-[#104D73]"></span>

        <a href="" routerLink="./lista-usuarios"
          (click)="updateButtonLabel('usuario')"
          class="hover:text-blue-utpl"
          [ngClass]="{'text-blue-utpl':valueLabel == 'usuario'}"
        >USUARIOS</a>
    </div>

    <!-- Boton para crear -->
    <!-- <div class="w-full">
      <button *ngIf="valueLabel" class="rounded bg-slate-400"
        (click)="navigateToSection()"
      >Crear {{this.valueLabel}}</button>
    </div> -->

    <!-- Paginas para navegar -->
    <router-outlet></router-outlet>

  </div>



</div>





