<!-- <div class="bg-slate-200">
  <h2><b>Fecha de publicación:</b> {{date}}</h2>
  <h3><b>Título de referencia</b></h3><p>Este título no se visualiza en el podcas, solo es para mantener una organización en el administrador.</p>
    <div>
      <div class="boxInfo">
        <input class="box" [(ngModel)]="podcast.title" type="text" placeholder="Ingrese el Título de referencia">
      </div>
    </div>
  <h3><b>Insertar iFrame de Spotify</b></h3><p>Tomar en consideración que la dimensión del width="300" height="200"</p>
    <div>
      <div class="boxInfo">
        <input class="box" [(ngModel)]="podcast.frame" type="text" placeholder="Ingrese el iFrame">
      </div>
    </div>
  <button (click)="createPodcast()">Crear Podcast</button>
</div> -->

<div class="w-full">
  <div class="w-[90%] mx-auto">

    <div class="w-full flex items-center justify-between">
      <!-- Retroceder -->
      <button class="flex my-5 p-2 items-center rounded-full hover:bg-yellow-utpl transition duration-300 ease-in-out" routerLink="/radio-utpl/admin/lista-podcasts">

        <svg width="36" height="28" viewBox="0 0 46 38" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2.16634 19.0003L43.833 19.0003M2.16634 19.0003L18.833 2.33366M2.16634 19.0003L18.833 35.667" stroke="#06446F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

      </button>
    </div>


    <!-- Form para crear o actualizar Projecto-->
    <form class="w-full grid" [formGroup]="podcastForm">
      <!-- Seccion Fecha Actual -->
      <div class="flex justify-center mt-10 mb-4">
        <p *ngIf="this.currentRoute.includes('nuevo')"><strong>Fecha de publicación:</strong> {{date}}</p>
        <p *ngIf="this.currentRoute.includes('editar')"><strong>Fecha de publicación:</strong> {{dateN}}</p>
      </div>

      <!-- Seccion del Titulo -->
      <div>
        <div class="pb-2 text-wrap">
          <p class="text-base"> <strong>Titulo de referencia </strong><span class="text-xs text-[#9D9D9D]">Este título no se visualiza en el podcast, solo es para mantener una organización el el administrador</span></p>
        </div>

        <input type="text" formControlName="title"
          class="w-full h-[33px] px-3 border-2 border-[#C4C4C4] rounded-md"
        >
      </div>

      <!-- Seccion Iframe -->
      <div class="my-8">
        <div class="pb-2 text-wrap">
          <p class="text-base"> <strong>Insertar iFrame de Spotify </strong><span class="text-xs text-[#9D9D9D]">Tomar en consideración que la dimensión del width="300" height="152"</span></p>
        </div>

        <textarea name="frame" id="frame" formControlName="frame"
          class="w-full h-[90px] px-3 py-1 border-2 border-[#C4C4C4] rounded-md"
        ></textarea>
      </div>

      <!-- Botones para crear o actualizar un podcast -->
      <div class="w-full flex justify-center">
        <button
        *ngIf="this.currentRoute.includes('nuevo')"
          class="p-2 text-white bg-[#00ACC1] rounded-lg hover:bg-blue-utpl"
          (click)="this.createPodcast()"
        >Crear Podcast</button>
        <button
        *ngIf="this.currentRoute.includes('editar')"
          class="p-2 text-white bg-[#00ACC1] rounded-lg hover:bg-blue-utpl"
          (click)="this.updatePodcast()"
        >Actualizar Podcast</button>
      </div>


    </form>
  </div>
</div>
